html, body {
	margin:0;
	padding:0;
	height:100%;
}
	
#container {
	min-height:100%;
	position:relative;
}
	
#header {
	padding-top:0px;
	/*background: #84BD32;*/
}
	
#body {
	padding-bottom:60px;
}
	
#footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:45px;
}
	
#startupfooter
{
	position:absolute;
	bottom:0;
	width:100%;
	height:45px;	
}

#header p, #header h1 {
	margin:0;
	padding:10px 0 0 10px;
}
	
#footer p {
	margin:0;
	padding:10px;
}