
		<div id="container">
			<div id="header">
				<div ng-include="'views/header.html'"/>
			</div>
			<div id="body" class="acenter" style="padding:10px 20% 10px 20%">
				<form method="post" action="InscriptionService?service=signup&lang=en" class="form-register testimonial" style="border-width: 1px; padding:50px 200px">
					<h2 class="form-heading" style="color: #666666;"><strong>Registration</strong></h2><!--  #84BD32; -->
					<p align="justify">You are about setting up your credentials to become an user of this product. To start up,  please complete all fields below.</p>
					<!-- <div class="${empty form.errors ? 'hide' : 'alert alert-info'}" style="background-color: #F9F9F9;border-color: #AAAAAA;">
						<span style="color: red;display: block;">${form.errors['username']}</span>
						<span style="color: red;display: block;">${form.errors['password']}</span>
						<span style="color: red;display: block;">${form.errors['passwordconfirmation']}</span>
						<span style="color: red;display: block;">${form.errors['email']}</span>
					</div> -->
					<div id="register-container">
						<div class="input-prepend input-fullwidth">
							<div class="input-wrapper">
								<input type="text" id="username" class="input-block-level"  name="username" placeholder="Username"/>
							</div>
						</div>
						<div class="input-prepend input-fullwidth">
							<div class="input-wrapper">
								<input type="password" id="password" class="input-block-level"  name="password" placeholder="Password" />
							</div>
						</div>
						<div class="input-prepend input-fullwidth">
							<div class="input-wrapper">
								<input type="password" class="input-block-level"  id="passwordconfirmation" name="passwordconfirmation" placeholder="Password confirmation" />
							</div>
						</div>				
						<div class="input-prepend input-fullwidth">
							<div class="input-wrapper">
								<input id="email" class="input-block-level"  name="email" placeholder="Email" type="email"  value="${user.email}" />
							</div>
						</div>
					</div>
					<div class="form-actions">
						<div class="row-fluid" style="margin-bottom: 5px;">
							<button class="contour-btn red span12" type="submit">Register</button><!-- btn btn-success pull-right span12 -->
						</div>
					</div>
					<hr>
					<div class="row-fluid" style="text-align: center;">
						<strong class="text-center">Access to the Log In page </strong><a href="LoginService?service=login&lang=en" id="link-forgot">here</a>
					</div>	
				</form> 				 								
			</div>
			
			<div id="footer">
				<div ng-include="'views/footer.html'"/>
			</div>
			
		</div>