<div id="container">
		<div id="header" ng-show="false">
			<div ng-include ="'views/header.html'"></div>
		</div>
		
		<div id="body" class="acenter" style="padding:10px 20% 10px 20%">
			<form method="post" action="/loginService" class="form-register testimonial" style="border-width: 1px; padding:50px 200px">
			<div class="acenter">
				<img src="img/logo_um2.png" style="width:250px; margin:0 auto">
			</div>
				<h2 class="form-heading" style="color: #666666;">
					<strong>Authentification</strong>
				</h2>
				<p align="center">Type your email and password below</p>
				<!-- <div class="${empty form.errors ? 'hide' : 'alert alert-info'}"
					style="background-color: #F9F9F9; border-color: #AAAAAA;">
					<span style="color: red; display: block;">${form.errors['auth']}</span>
					<span style="color: red; display: block;">${form.errors['email']}</span>
					<span style="color: red; display: block;">${form.errors['password']}</span>
				</div> -->
				<div class="input-prepend input-fullwidth">
					<div class="input-wrapper">
						<input id="email" name="email" class="input-block-level" placeholder="Email" type="email" ng-model="email">
					</div>
				</div>
				<div class="input-prepend input-fullwidth">
					<div class="input-wrapper">
						<input id="password" name="password" class="input-block-level" placeholder="Password" type="password">
					</div>
				</div>
				<div class="form-actions">
					<div class="row-fluid" style="margin-bottom: 5px;">
						<button class="contour-btn red col-sm-12" type="submit">Log In</button>
					</div>
				</div>
				<hr size="1" />
				<div class="forget-password" style="text-align: center;">
					<strong class="text-center">Forgot password ? </strong>
					<a href="#" id="link-forgot">Click here to reset</a>
				</div>
				<div class="row-fluid" style="text-align: center;">
					<strong class="text-center">You do not have an account ? </strong>
					<a href="#" id="link-forgot">Register</a>
				</div>
			</form>
		</div>

		<!-- <div id="startupfooter">
			<div ng-include ="'views/footer.html'" />
		</div> -->

	</div>