
	<div id="container">
			<div id="header">
				<div ng-include="'views/header.html'"/>
			</div>
			
			<div id="body" style="padding:10px 20% 10px 20%">
				<form method="post" action="/ResetPasswordService?service=reset&lang=en" class="form-forgot testimonial" style="border-width: 1px; padding:50px 200px">
					<h2 class="form-heading" style="color: #666666;"><strong>Reset Password</strong></h2>
					<p align="justify">
						Enter the email address you used when creating the account and click <b>Send</b>. 
						You will receive a message noting information about your password change.
					</p>
					<!-- <div class="${empty form.errors ? 'hide' : 'alert alert-info'}" style="background-color: #F9F9F9;border-color: #AAAAAA;">
						<span style="color: red;display: block;">${form.errors['email']}</span>
						<span style="color: red;display: block;">${form.errors['general']}</span>
					</div>					
					<div class="${empty message ? 'hide' : 'alert alert-info'}" style="background-color: #F9F9F9;border-color: #AAAAAA;">
						<span style="color: red;display: block;">${message}</span>
					</div>		 -->
					<div class="input-prepend input-fullwidth">
						<div class="input-wrapper">
							<input type="email" id="email" name="email" placeholder="Email" class="input-block-level" value="${user.email}" />
						</div>
					</div>
					<div class="form-actions">
						<div class="row-fluid" style="margin-bottom: 5px;">
							<button class="contour-btn red span12" type="submit">Send</button>
						</div>
					</div>
					<hr>
					<div class="row-fluid">
						<strong class="text-center">Access to the Log In page</strong><a href="/LoginService?service=login&lang=en" id="link-forgot">here</a>
					</div>	
				</form>	 								
			</div>
			
			<div id="startupfooter">
				<div ng-include ="'views/footer.html'" />
			</div>	
		</div>	