
		<div id="container" >
			
			<div id="header">
				<div ng-include="'views/header.html'"/>
			</div>
			
			<div id="body">
				<div class="site-wrapper">
					<div class="site-body">		
						<div class="page-title">
							<div class="pe-container">
								<h1>Profile Setup</h1>
							</div>
						</div> 
						<br/><br/>
						<div class="pe-container">
							<div>
								<p>
									You are about <span class="accent">creating</span> or <span class="accent">upgrading</span> your profile. It consists in <span class="accent">uploading</span> your 
									most recents articles on your topic of interest. 
									By doing this operation, you are <span class="accent">storing</span>, <span class="accent">examinating</span> and <span class="accent">sharing</span> information. 
									Additionally, you are
									<span class="accent">collaborating</span> with users who want to make possible the populariry of this product.
									<br/><br/>
									Those documents you upload, will become your <span class="accent">identification profile</span>, when some search is 
									being performed. They will not be available on your searches. It means that you wont 
									be able to find your own items but the ones shared by other users, who share a profile like yours. 									
								</p>
							</div>
							<h3>CHOOSE YOUR ARTICLE</h3>
							
							<div id="div_container_titlex">
								<form action="UploadAction" enctype="multipart/form-data" method="post">
									<input type="file" name="afile" class="btn" size="25" style="height: 25px;"/> <br/><br/>
									<input type="submit" name="submit" class="btn" value="Analyze Document" style="height: 30px;"/>
								</form>
								<!-- <span style="color: red;font-size: 12px;">${file.errors['size']}</span>
								<span style="color: red;font-size: 12px;">${file.errors['signature']}</span>
								<span style="color: red;font-size: 12px;">${file.errors['pages']}</span> -->
							</div>
							<p>
								<b>Note that your documents have to meet the following characteristics :</b>
								<br/>- Should be (<span class="accent">PDF</span>) formated.
								<br/>- Should be a <span class="accent">Research Article</span>.
								<br/>- Should not exceeds the maximum file size (<span class="accent"> 5MB</span>) allowed by the server. 
							</p>
						</div>
						
					</div>
				</div>
				
			</div>
			
			
			<div id="footer">
				<div ng-include ="'views/footer.html'" />
			</div>
					
		</div>	