<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Document Search Tool</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/outset/login/login.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>Location to store temps uploaded files</description>
    <param-name>temps-directory</param-name>
    <param-value>/hdd/temp/appdirectory/temps</param-value>
  </context-param>
  <context-param>
    <description>Location to store index</description>
    <param-name>index-directory</param-name>
    <param-value>/hdd/temp/appdirectory/index</param-value>
  </context-param>
  <context-param>
    <description>Location to store indexed documents</description>
    <param-name>documents-directory</param-name>
    <param-value>/hdd/temp/appdirectory/documents</param-value>
  </context-param>
  <persistence-unit-ref>
    <persistence-unit-ref-name>persistence/jee-dst-ter</persistence-unit-ref-name>
    <persistence-unit-name>jee-dst-ter</persistence-unit-name>
  </persistence-unit-ref>
  <servlet>
    <servlet-name>com.dst.services.JerseyContainer</servlet-name>
  </servlet>
  <servlet-mapping>
    <servlet-name>com.dst.services.JerseyContainer</servlet-name>
    <url-pattern>/app/*</url-pattern>
  </servlet-mapping>
</web-app>