	.desktop a:hover {
	    color: rgb(85, 85, 85);
	    text-decoration: none;
	    transition: all 0.3s ease-out 0s;
	}
	.feature .feature-title {
		padding-left: 0px;
	    margin-bottom: 20px;
	}
	.feature .feature-title {
	    padding-left: 0px;
	    margin-bottom: 20px;
	}	
	h3{
		color: rgb(85, 85, 85);/*rgb(85, 85, 85);*/
	}
	div.logotext
	{
		padding:0px; margin:0px; dispaly: inline; margin-top:10px; margin-right: 10px;
		color: rgb(85, 85, 85);
		font-size: 22px; 
	}	
	div.logotext a
	{
		/* font-weight:bold; */
		text-transform:uppercase;
		color: rgb(85, 85, 85);
	}
	
	div#startuplogoimg img
	{
		margin:auto;
	}
	
	div#startuplogotext p
	{
		text-align:center; font-size: 25px;
	}	
	
	div#startuplogotext p a
	{
		color: #777777;
	}
	
	.bar-text a {
    color: rgb(204, 204, 204);
	}
	.btn-i {
		background-color: rgb(68, 68, 68);
	}
	p.wp-caption-text,
	.desktop h3 a:hover,
	.accent,
	a,
	a.read-more,
	a.more-link,
	.desktop .sm-icon-wrap a:hover,
	.desktop .nav-main a.active,
	.desktop .nav-main a:hover,
	.nav > li > a:hover,
	.nav > li.active > a,
	.desktop .social-media a:hover,
	.desktop .project-item h6 a:hover,
	.filter-keywords,
	.staff-member h3,
	.desktop .staff-social a:hover,
	.desktop .widget_recent_comments li a:hover,
	.desktop .widget_links li a:hover,
	.desktop .widget_pages li a:hover,
	.desktop .widget_meta li a:hover,
	.desktop .widget_nav_menu li a:hover,
	.desktop .widget_recent_entries li a:hover,
	.desktop .widget_categories a:hover,
	.desktop .post-meta .categories a:hover,
	.post-pagination a span:first-child,
	#comments-title span,
	.bypostauthor > .comment-body .fn a,
	.bay h6,
	.desktop .project-single-col .categories a:hover,
	.project-pagination a,
	.desktop .featured-project .categories a:hover,
	.new-tag,
	.project-data h6,
	.project-tags h6,
	.project-nav a,
	.pricing-table .row-titles .price span,
	.widget_info a,
	.peSlider > div.peCaption > .pe-caption-color,
	.peSlider > div.peCaption h3,
	.info-bar .email [class^="icon-"], 
	.info-bar .phone [class^="icon-"],
	.subtitle a {
		color: #999966;/*326ABD;*/
	}

	.desktop a.read-more:hover,
	.contour-btn.red,
	.tagline .overlay,
	div.overlay-image,
	.contentBox,
	.filter-keywords li a.active,
	.desktop .filter-keywords li a:hover,
	.featureIcon,
	.widget_menu li.active a,
	.desktop .widget_menu li.active a:hover,
	.desktop .widget_tag_cloud a:hover,
	.desktop #comments .reply .label:hover,
	.desktop .carousel-nav a:hover,
	.desktop .project-pagination a:hover,
	.project-pagination li.selected a,
	.desktop .project-nav a:hover,
	.pricing-table .high .price,
	.peSlider > div.peCaption > .pe-caption-background,
	.process > div > div > div > div:hover .read-more,
	.ie8 .over-effect:hover > .cell-title{
		background-color: #999966;
	}

	.desktop a.read-more:hover,
	.contour-btn.red,
	.header,
	.desktop .tagline h2 a:hover,
	.desktop a.over-effect:hover,
	blockquote,
	.filter-keywords li a.active,
	.desktop .filter-keywords li a:hover,
	.widget_menu li.active a,
	.desktop .widget_tag_cloud a:hover,
	.desktop .widget_flickr a:hover,
	.bypostauthor > .comment-body > .comment-author img,
	.desktop .carousel-nav a:hover,
	.desktop .project-pagination a:hover,
	.project-pagination li.selected a,
	.featured-project .media,
	.desktop .project-nav a:hover,
	.project-pagination li.selected a,
	.desktop .project-pagination a:hover,
	.process > div > div > div > div:hover,
	.process > div > div > div > div:hover .read-more,
	.featured-project,
	.dropdown-menu{
		border-color: #999966; 
	}

	.footer{
		border-top-color:#84bd32;
	}

	.widget_menu li.active a{
		background-color:#84bd32; !important
	}

	.col.high{
		outline-color:#84bd32;
	}


	.desktop .over-effect:hover > .cell-title,
	.mobile .peIsotopeGrid .peIsotopeItem span.cell-title,
	.desktop .peIsotopeGrid .peIsotopeItem:hover span.cell-title{
		/*background-color:rgba(132,189,50);*/
		background-color:rgba(132,189,50,0.8);
		
	}
	
	.featureIconCostomizer {
    background-color: #FFFFFF;
    background-image:url(/img/image_de_fond.png);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 50px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 50px;
}